ul.nav.navbar-nav
  li.dropdown(class=(url && url.match(/^\/about/))?'active':undefined)
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-fw.fa-info-circle
      | &nbsp;About&nbsp;
      b.caret
    ul.dropdown-menu
      li
        a(href='/about')
          i.fa.fa-fw.fa-building
          | &nbsp;About #{application}
      li
        a(href='/about/workshops')
          i.fa.fa-fw.fa-share-alt
          | &nbsp;Workshops
      li
        a(href='/about/presentations')
          i.fa.fa-fw.fa-tv
          | &nbsp;Presentations
      li
        a(href='/about/team')
          i.fa.fa-fw.fa-users
          | &nbsp;About the team
      li.divider          
      li
        a(href='/contact')
          i.fa.fa-fw.fa-envelope
          | &nbsp;Contact Us          
  li.dropdown(class=(url && url.match(/^\/guide/))?'active':undefined)
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fas.fa-book
      | &nbsp;Guides
      b.caret
    ul.dropdown-menu
      li
        a(href='/guides/making-videos')
          i.fa.fa-fw.fa-video
          | &nbsp;How to make videos
      li
        a(href='/guides/instructor-guide')
          i.fa.fa-chalkboard-teacher
          | &nbsp;Instructor guide
      li
        a(href='/guides/student-guide')
          i.fa.fa-book-open
          | &nbsp; Student guide 
      li
        a(href='/guides/learning-outcomes')
          i.fas.fa-graduation-cap
          | &nbsp; Linear Algebra Learning Outcomes
      li
        a(href='/guides/peer-review')
          i.fas.fa-check-square
          | &nbsp; Peer review 
      li
        a(href='/guides/worksheet-howto')
          i.fas.fa-edit
          | &nbsp; Worksheet how-to 
      li
        a(href='/guides/flipclass-howto')
          i.fas.fa-school
          | &nbsp; Flip class how-to 
  li(class=(url && (url.match(/^\/assets\//) || url.match(/^\/textbooks\//) || url.match(/^\/bundles/) || url.match(/^\/math/) ))?'active':undefined)
    a(href='/assets/')
      i.fa.fa-paperclip.fa-fw
      | &nbsp;Resources
