ul.nav.navbar-nav
  li.dropdown(class=(url && url.match(/^\/about/))?'active':undefined)
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-fw.fa-info-circle
      | &nbsp;About&nbsp;
      b.caret
    ul.dropdown-menu
      li
        a(href='/about')
          i.fa.fa-fw.fa-building-o
          | &nbsp;About #{application}
      li
        a(href='/about/making-videos')
          i.fa.fa-fw.fa-video-camera
          | &nbsp;Help making videos      
      li
        a(href='/about/team')
          i.fa.fa-fw.fa-users
          | &nbsp;About the team
      li.divider          
      li
        a(href='/contact')
          i.fa.fa-fw.fa-envelope-o
          | &nbsp;Contact Us          
  li(class=(url && url.match(/^\/textbooks\//))?'active':undefined)
    a(href='/textbooks/')
      i.fa.fa-book.fa-fw
      | &nbsp;Textbooks
  li(class=(url && url.match(/^\/assets\//))?'active':undefined)
    a(href='/assets/')
      i.fa.fa-file-o.fa-fw
      | &nbsp;Resources
