ul.nav.navbar-nav
  li.dropdown(class=(url && url.match(/^\/about/))?'active':undefined)
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-fw.fa-info-circle
      | &nbsp;About&nbsp;
      b.caret
    ul.dropdown-menu
      li
        a(href='/about')
          i.fa.fa-fw.fa-building-o
          | &nbsp;About #{application}
      li
        a(href='/about/workshops')
          i.fa.fa-fw.fa-share-alt
          | &nbsp;Workshops
      li
        a(href='/about/presentations')
          i.fa.fa-fw.fa-tv
          | &nbsp;Presentations
      li
        a(href='/about/team')
          i.fa.fa-fw.fa-users
          | &nbsp;About the team
      li.divider          
      li
        a(href='/contact')
          i.fa.fa-fw.fa-envelope-o
          | &nbsp;Contact Us          
  li(class=(url && url.match(/^\/assets\//))?'active':undefined)
    a(href='/assets/')
      i.fa.fa-tasks.fa-fw
      | &nbsp;Resources
  li.dropdown(class=(url && url.match(/^\/guide/))?'active':undefined)
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-fw.fa-info-circle
      | &nbsp;Guides
      b.caret
    ul.dropdown-menu
      li
        a(href='/guides/making-videos')
          i.fa.fa-fw.fa-video-camera
          | &nbsp;How to make videos  
      li
	a(href='guides/instructor-guide')
	  <i class="fas fa-chalkboard-teacher"></i>
          | &nbsp; Instructor guide 
