form.navbar-form(role="search",method="GET",action="/assets/")
  div.input-group
    input.form-control(type="text",placeholder="Search",name="q",value=query)
    div.input-group-btn
      button.btn.btn-default(type="submit")
        i.fa.fa-search
