extends ../layouts/layout

block head
  title About &middot; How to flip your classroom

block styles

mixin presentation(title,thumbnail,pptx,pdf)
  .thumbnail
    a(href="/presentations/" + (pptx || pdf))
      img(src="/presentations/" + thumbnail)
    .caption
      h3 
        a(href="/presentations/" + (pptx || pdf)) #{title}
      if pptx
        p
          a.btn.btn-primary(href="/presentations/" + pptx)
            i.fa.fa-file-powerpoint-o
            | &nbsp;Download .pptx
      if pdf
        p            
          a.btn.btn-primary(href="/presentations/" + pdf)
            i.fa.fa-file-pdf-o
            | &nbsp;Download .pdf
      
block content
  .mini-tron
    .container
      h1 How to flip your class
      p
        | Some resources for helping you flip your class

  .container
    .row
      .col-md-12
        include:markdown flipclass-howto.md
    .row
      .col-md-3
        +presentation("Designing Engaging In-Class Activities","engaging-in-class-activities.jpg","engaging-in-class-activities.pptx","engaging-in-class-activities.pdf")
      .col-md-3
        +presentation("Basics of the Flipped Classroom","flipped-101.jpg","flipped-101.pptx")
      .col-md-3
        +presentation("Writing Effective Pre-Class Knowledge Checks","preclass-checks.jpg","preclass-checks.pptx")      
      .col-md-3
        +presentation("What is an Open Educational Resource?","what-is-oer.png",null,"what-is-oer.pdf")
        
