extends ../layouts/layout

block head
  title Making Videos &middot; #{application}

block styles

block content
  .mini-tron
    .container
      h1 Instructor Guide
      p
        | Guide for instructors

  .container
    .row
      .col-md-12
        include:markdown instructor-guide.md
