extends ../layouts/layout

block head
  title Guides &middot; Learning outcomes for Linear Algebra

block styles

block content
  .mini-tron
    .container
      h1 Linear outcomes for Linear Algebra
      p
        | A set of possible learning outcomes for a Linear Algebra course

  .container
    .row
      .col-md-12
        include:markdown learning-outcomes.md
