extends ../layouts/layout

block head
  title Making Videos &middot; #{application}

block styles

block content
  .mini-tron
    .container
      h1 Peer Review
      p
        | Guide for peer review

    .container
      .row
        .col-md-12
          include:markdown peer-review.md
