extends ../layouts/layout

block head
  title Student Guide &middot; #{application}

block styles

block content
  .mini-tron
    .container
      h1 For the instructor
      p
        | A guide for students on how-to use CuratedCourses

  .container
    .row
      .col-md-12
        include:markdown student-guide.md
