extends ../layouts/layout

block head
  title Making Videos &middot; #{application}

block styles

block content
  .mini-tron
    .container
      h1 Student Guide
      p
        | Guide on how-to use this website for students
