extends ../layouts/layout

block head
  title Guides &middot; For the student

block styles

block content
  .mini-tron
    .container
      h1 For students
      p
        | A guide for students on how to use CuratedCourses

  .container
    .row
      .col-md-12
        include:markdown student-guide.md
