extends ../layouts/layout

block head
  title How to create worksheets &middot; #{application}

block styles

block content
  .mini-tron
    .container
      h1 How to create worksheets
      p
        | Guide to create worksheets for your classroom

  .container
    .row
      .col-md-12
        include:markdown worksheet-howto.md
