extends ../layouts/layout

block head
  title Making Videos &middot; #{application}

block styles

block content
  .mini-tron
    .container
      h1 How to create Worksheets
      p
        | Guide to create worksheets for your classroom
