extends ../layouts/error


block head
  title #{application} &middot; 404

block content

  .mini-tron
    .container
      h1 404 Page Not Found!
      p
        | You tried to reach:&nbsp;
        span.lime #{url}
  .container
      p
        | That page doesn't exist.

