extends ../layouts/layout

block head
  title About #{application}

block styles

block content
  .mini-tron
    .container
      h1 About #{application}
      p
        | Finding great resources is a first step to great student experiences

  .container
    .row
      .col-md-8
        include:markdown about.md
      .col-md-4
        div.embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://www.youtube.com/embed/hMOlNwzqBIk")
        