extends ../layouts/layout

block head
  title About &middot; Presentations about the CuratedCourses project

block styles

mixin presentation(title,thumbnail,pptx,pdf)
  .thumbnail
    a(href="/presentations/" + (pptx || pdf))
      img(src="/presentations/" + thumbnail)
    .caption
      h3 
        a(href="/presentations/" + (pptx || pdf)) #{title}
      if pptx
        p
          a.btn.btn-primary(href="/presentations/" + pptx)
            i.fa.fa-file-powerpoint-o
            | &nbsp;Download .pptx
      if pdf
        p            
          a.btn.btn-primary(href="/presentations/" + pdf)
            i.fa.fa-file-pdf-o
            | &nbsp;Download .pdf
      
block content
  .mini-tron
    .container
      h1 Presentations
      p
        | Download slides from presentations about CuratedCourses

  .container
    .row
      .col-md-3
        +presentation("The CuratedCourses Project","jmm-2018-presentation.png","jmm-2018-presentation.pptx")
      .col-md-3
        +presentation("Linear Algebra using CuratedCourses OERs","linalg_curated_JMM2018.png","linalg_curated_JMM2018.pptx")
        
