extends ../layouts/layout

block head
  title Resources &middot; #{application}

block content

  .mini-tron
    .container
      h1 Resources      
  .container
    .row
      .col-md-3
        include ./filter-panel.jade      
      .col-md-9        
        for asset in assets
          hr.separator
          .row
            include ../partials/asset

      