extends ../layouts/layout

block head
  title Resources &middot; #{application}

block content

  .mini-tron
    .container
      h1 Resources      
  .container
    .row
      include ./filter-panel.jade            
      for asset in assets
        include ../partials/asset
