extends ../layouts/layout

block head
  title Resources &middot; #{application}

block content

  .mini-tron
    .container
      h1 Resources
      h2 all available resources      
  .container
    include ../partials/tabs
    include ./filter-panel.jade
    for asset in assets
      include ../partials/asset
