extends ../layouts/layout

block head
  title Search &middot; Resources &middot; #{application}

block content

  .mini-tron
    .container
      h1 Resources
      h2 &ldquo;#{query}&rdquo;
  .container
    if assets && assets.length > 0
      include ./filter-panel.jade      
      for asset in assets
        include ../partials/asset
    else
      h2 No resources found.
      